body {
    background-color: rgb(0 0 0);
    height: 100dvh;
    width: 100%;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-part {
    height: 30%;
    width: 100%;
    background-color: transparent;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.history-button-wrapper {
    background-image: url("../images/menu-link-button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    top: 0%;
    left: 0%;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.history-button-wrapper:hover {
    cursor: pointer;
}

.history-button-wrapper:active {
    filter: brightness(65%);
}

.number-grid {
    height: 55%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 5px;
    max-width: 95%;
    justify-items: center;
    align-items: center;
}

.AC {
    background-image: url("../images/clear-button.png");
    height: 3.875rem;
    width: 3.875rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.schimbare-semn {
    background-image: url("../images/schimbare-semn-button.png");
    height: 3.875rem;
    width: 3.875rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.PROCENTE {
    background-image: url("../images/procente-button.png");
    height: 3.875rem;
    width: 3.875rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.IMPARTIRE {
    background-image: url("../images/impartire-button.png");
    height: 3.875rem;
    width: 3.875rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.button-7 {
    background-image: url("../images/7-button.png");
    height: 3.875rem;
    width: 3.875rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.button-8 {
    background-image: url("../images/8-button.png");
    height: 3.875rem;
    width: 3.875rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.button-9 {
    background-image: url("../images/9-button.png");
    height: 3.875rem;
    width: 3.875rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.INMULTIRE {
    background-image: url("../images/inmultire-button.png");
    height: 3.875rem;
    width: 3.875rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.button-4 {
    background-image: url("../images/4-button.png");
    height: 3.875rem;
    width: 3.875rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.button-5 {
    background-image: url("../images/5-button.png");
    height: 3.875rem;
    width: 3.875rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.button-6 {
    background-image: url("../images/6-button.png");
    height: 3.875rem;
    width: 3.875rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.MINUS {
    background-image: url("../images/minus-button.png");
    height: 3.875rem;
    width: 3.875rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.button-1 {
    background-image: url("../images/1-button.png");
    height: 3.875rem;
    width: 3.875rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.button-2 {
    background-image: url("../images/2-button.png");
    height: 3.875rem;
    width: 3.875rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.button-3 {
    background-image: url("../images/3-button.png");
    height: 3.875rem;
    width: 3.875rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.PLUS {
    background-image: url("../images/plus-button.png");
    height: 3.875rem;
    width: 3.875rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.CALCULATOR {
    background-image: url("../images/calculator-button.png");
    height: 3.875rem;
    width: 3.875rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.button-0 {
    background-image: url("../images/0-button.png");
    height: 3.875rem;
    width: 3.875rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.VIRGULA {
    background-image: url("../images/virgula-button.png");
    height: 3.875rem;
    width: 3.875rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.backspace {
    background-image: url("../images/backspace-button.png");
    height: 3.875rem;
    width: 3.875rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    right: 0%;
    z-index: -1;
    background-color: transparent;
}

.AC_Backspace {
    position: relative;
    height: 3.875rem;
    width: 3.875rem;
}

.EGAL {
    background-image: url("../images/egal-button.png");
    height: 3.875rem;
    width: 3.875rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.button {
    width: 3.875rem;
    height: 3.875rem;
    background-color: black;
    border: 0px !important;
}

.button:active {
    filter: brightness(155%)
}

.button:hover {
    cursor: pointer;
}

.EGAL:active {
    filter: brightness(110%) !important;
}

.MINUS:active {
    filter: brightness(110%) !important;
}

.INMULTIRE:active {
    filter: brightness(110%) !important;
}

.PLUS:active {
    filter: brightness(110%) !important;
}

.IMPARTIRE:active {
    filter: brightness(110%) !important;
}

.number-wrapper {
    bottom: 0%;
    right: 0%;
    height: 60%;
    width: 100%;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    flex-direction: column;
}

.number-wrapper .input {
    font-weight: 500;
    padding-right: 20px;
    color: #57575b;
    font-size: 1.4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.number-wrapper .output {
    font-weight: 500;
    padding-right: 20px;
    color: white;
    font-size: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
}

.number-wrapper .first_input {
    font-weight: 500;
    color: white;
    font-size: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.touch_no_button{
    position: absolute;
    display: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: 999;
    cursor: pointer;
}
.input-force-number{
    position: absolute;
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.submit_button{
    height: 20px;
    width: 80px;
    margin-top: 10px;
}
.wrapper-for-secrete-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.secret-info{
    height: 100%;
    width: 20px;
    color: #454141;
    margin-left: 30px;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}
.equal-signs{
    position: relative;
    height: 3.875rem;
    width: 3.875rem;
}
.copie{
    position: absolute;
    top: 0% ;
    left: 0%;
    z-index: -1;
}
.number-wrapper .input,
.number-wrapper .output {
    font-weight: 500;
    padding-right: 20px;
    color: white;
    font-size: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;

    /* New properties for horizontal scrolling */
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: nowrap; /* Prevents text wrapping */
    scroll-behavior: smooth; /* Smooth scrolling effect */
}